src/HttpToSmtpService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://convert.ge.com/" name="HttpToSmtpService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://convert.ge.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema version="1.0" targetNamespace="http://convert.ge.com/" xmlns:tns="http://convert.ge.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="HttpToSmtpException" nillable="true" type="tns:fault"/>

  <xs:element name="translate" type="tns:translate"/>

  <xs:element name="translateResponse" type="tns:translateResponse"/>

  <xs:complexType name="translate">
    <xs:sequence>
      <xs:element name="sender" type="xs:string"/>
      <xs:element name="recipient" type="xs:string"/>
      <xs:element name="cc" type="xs:string" minOccurs="0"/>
      <xs:element name="bcc" type="xs:string" minOccurs="0"/>
      <xs:element name="subject" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
      <xs:element name="sourceSystemId" type="xs:string"/>
      <xs:element name="sourceSystemPwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="translateResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fault">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </types>
  <message name="translate">
    <part name="parameters" element="tns:translate"/>
  </message>
  <message name="translateResponse">
    <part name="parameters" element="tns:translateResponse"/>
  </message>
  <message name="HttpToSmtpException">
    <part name="fault" element="tns:HttpToSmtpException"/>
  </message>
  <portType name="HttpToSmtpService">
    <operation name="translate">
      <input message="tns:translate"/>
      <output message="tns:translateResponse"/>
      <fault message="tns:HttpToSmtpException" name="HttpToSmtpException"/>
    </operation>
  </portType>
  <binding name="HttpToSmtpServicePortBinding" type="tns:HttpToSmtpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="translate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HttpToSmtpException">
        <soap:fault name="HttpToSmtpException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HttpToSmtpService">
    <port name="HttpToSmtpServicePort" binding="tns:HttpToSmtpServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

